@model Medic

@{
  ViewBag.Title = "Eliminar Médico";
}

<h3>¿Esta seguro de eliminar el siguiente registro?</h3>

<div>
  <dl >
    <dt >
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd >
      @Html.DisplayFor(model => model.Name)
    </dd>

    <dt >
      @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd >
      @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt >
      @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd >
      @Html.DisplayFor(model => model.Address)
    </dd>

    <dt >
      @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd >
      @Html.DisplayFor(model => model.PhoneNumber)
    </dd>

    <dt >
      @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd >
      @Html.DisplayFor(model => model.Email)
    </dd>

    <dt >
      @Html.DisplayNameFor(model => model.ScheduleFrom)
    </dt>
    <dd >
      @Html.DisplayFor(model => model.ScheduleFrom)
    </dd>

    <dt >
      @Html.DisplayNameFor(model => model.ScheduleUntil)
    </dt>
    <dd >
      @Html.DisplayFor(model => model.ScheduleUntil)
    </dd>
  </dl>

  <form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <input type="submit" value="Eliminar"/>
  </form>

  <div>
    <a asp-action="Index">Volver</a>
  </div>
</div>