@model Medic

@{
  ViewBag.Title = $"Detalles del médico {Model.Name} {Model.LastName}";
}

<h4>Detalles del Médico</h4>
<hr>

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card hoverable blue">
      <h6 class="card-title u-pt-2 center-align white-text">
        @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName)
      </h6>

      <div class="card-content white-text">
        <p>
          @Html.DisplayNameFor(model => model.Address):
          <span>
            @Html.DisplayFor(model => model.Address)
          </span>
        </p>

        <p>
          @Html.DisplayNameFor(model => model.PhoneNumber):
          <span>
            @Html.DisplayFor(model => model.PhoneNumber)
          </span>
        </p>

        <p>
          @Html.DisplayNameFor(model => model.Email):
          <span>
            @Html.DisplayFor(model => model.Email)
          </span>
        </p>

        <p>
          @Html.DisplayNameFor(model => model.ScheduleFrom):
          <span>
            @Html.DisplayFor(model => model.ScheduleFrom)
          </span>
        </p>

        <p>
          @Html.DisplayNameFor(model => model.ScheduleUntil):
          <span>
            @Html.DisplayFor(model => model.ScheduleUntil)
          </span>
        </p>
      </div>

      <div class="card-action blue-grey">
        <a
          asp-action="Edit"
          asp-route-id="@Model.Id"
          class="white-text valign-wrapper btn">
          Editar médico
          <i class="material-icons right">edit</i>
        </a>

        <a
          asp-action="Index"
          class="white-text valign-wrapper change-order">
          <i class="material-icons">arrow_back</i>
          Volver
        </a>
      </div>
    </div>
  </div>
</div>

<div>

</div>