@model IEnumerable<Medic>

@{
  ViewBag.Title = "Médicos";
}


<p class="u-mt-3">
  <a asp-action="Create">Agregar nuevo médico</a>
</p>

<table class="u-mt-2 responsive-table highlight z-depth-1-half blue lighten-5 u-mb-3">
  <thead>
  <tr class="blue white-text">
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.LastName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Address)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.PhoneNumber)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ScheduleFrom)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ScheduleUntil)
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.LastName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Address)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Email)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ScheduleFrom)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ScheduleUntil)
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.Id" aria-label="Editar">
          <i class="material-icons">edit</i>
        </a>
        <a asp-action="Details" asp-route-id="@item.Id" aria-label="Detalle">
          <i class="material-icons grey-text">more_vert</i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.Id" aria-label="Eliminar">
          <i class="material-icons red-text">delete</i>
        </a>
      </td>
    </tr>
  }
  </tbody>
</table>