@model Patient

@{
  ViewBag.Title = "Eliminar Paciente";
}

<h3>¿Esta seguro de eliminar el siguiente registro?</h3>

<div>
  <dl>
    <dt>
      @Html.DisplayNameFor(patient => patient.Name)
    </dt>
    <dd>
      @Html.DisplayFor(patient => patient.Name)
    </dd>

    <dt>
      @Html.DisplayNameFor(patient => patient.LastName)
    </dt>
    <dd>
      @Html.DisplayFor(patient => patient.LastName)
    </dd>

    <dt>
      @Html.DisplayNameFor(patient => patient.Address)
    </dt>
    <dd>
      @Html.DisplayFor(patient => patient.Address)
    </dd>

    <dt>
      @Html.DisplayNameFor(patient => patient.PhoneNumber)
    </dt>
    <dd>
      @Html.DisplayFor(patient => patient.PhoneNumber)
    </dd>

    <dt>
      @Html.DisplayNameFor(patient => patient.Email)
    </dt>
    <dd>
      @Html.DisplayFor(patient => patient.Email)
    </dd>
  </dl>

  <form asp-action="Delete">
    <input type="hidden" asp-for="Id">
    <input type="submit" value="Eliminar"/>
  </form>

  <div>
    <a asp-action="Index">Volver</a>
  </div>
</div>